/* Content for grading: Responsive Design */
* {
	box-sizing: border-box;
}

/* Taken from https://www.w3schools.com/css/css_rwd_grid.asp to ensure the columns for responsive design work properly */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Combined from https://www.w3schools.com/css/css_rwd_grid.asp and https://www.w3schools.com/css/css_rwd_mediaqueries.asp  */
[class*="col-"] {
  float: left;
  padding: 10px;
  width: 100%;
}

/* Taken from https://www.w3schools.com/css/css_rwd_mediaqueries.asp The formatting of classes other than the columns is my own addition. */
/* Styles for small devices (phones and narrow tablets) */
@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/*	Created by Kristine Luangkhot on November 22, 2020 */
/* Inspiration for top section of wab page taken from https://levine.princeton.edu/ */

/******
Edit: adjust .main-header to add parallax effect
Owner: Andrea Reid
Date: Nov 23, 2020
Source: https://www.w3schools.com/howto/howto_css_parallax.asp
******/
.main-header {
	background-image: url("../images/satellite-placeholder.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* End Edit by Owner: Andrea Reid */

.header-overlay {
	color: white;
	height: 500px;
}
/*Horizontal navigation bar placed at the top of the page */
/* Instructions to create a horizontal navigation bar taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
.navbar {
	display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #543005;
}

/* Change font and text colour of the list items to match chosen colour scheme */
.navbar a {
	float: left;
  display: block;
  font-family:"Verdana", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to lighter colour on hover */
.navbar a:hover:not(.active) {
  background-color: #80cdc1;
}

/* Create an "active" class and assign it to the current link to indicate to the user which page they are on */
.navbar a.active {
	background-color:#01665e;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
	display: none;
  }
  
/* Responsive design: minimize navigation bar and have a hambuger "menu" icon show up at a certain pixel width */
/* Taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
	.navbar a:not(:first-child) {display: none;}
	.navbar a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 768px) {
	.navbar.responsive {position: relative;}
	.navbar.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.navbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

.blurb-text {
	width: 500px;
	margin-top: 20px;
	margin-left: 50px;
	font-family:"Verdana", Arial, sans-serif;
	color: white;
	font-size: 14pt;
}

.header-div {
	margin-top: 100px;
}

.header-text {
	width: 500px;
	margin-top: 0px;
	margin-left: 50px;
	padding-top: 150px;
	font-family:"Verdana", Arial, sans-serif;
	color: white;
	font-size: 30pt;
}

.footer-style {
	width: 100%;
	height: 50px;
	background-color: #543005;
}

.footer-text {
	font-family:"Verdana", Arial, sans-serif;
	color: white;
	font-size: 12pt;
}

/***********
Owner: Andrea Reid
Date: Nov 23, 2020
From: style tips taken from w3schools
***********/

/* Apply formatting to Body*/

body {
	font-family:"Verdana", Arial, sans-serif;
	color: rgb(78, 84, 90);
}	

/* make header and navbar continuous with sections */

.outer-margin {
	padding: 0px;
}

/* apply style to sections in page playout */
.section-style {
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	width: 100%;
}

.section-style-mission {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	padding: 30px;
}

.section-style-team {
	padding-left: 20px;
}

/* align text to center on desktop and to left on phone*/
.txt-align-resp {
	text-align: center;
}

/* align text to center always */
.txt-center {
	text-align: center;
}

/* Align top margin of text in first column to top of image in second column */
.top-align {
	margin-top: 0px;
}

/* Format Team photos as circles */
img.circle {display: block;
	border-radius: 50%;
	max-width:100%;
	margin-top:0px;
	margin-bottom:30px;
	margin-left: auto;
	margin-right: auto;
}

/* Adjust formatting for phone view */
/* Center image */
@media screen and (max-width: 768px) {
	.img-align {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.txt-align-resp {
		text-align: left;
	}
	.section-style-mission {
		margin-left: auto;
		margin-right: auto;
		font-family:"Verdana", Arial, sans-serif;
		padding: 10px;
		width: 100%;
	}
	.txt-width-mission {
		padding: 10px;
		width: 100%;
	}
}

/* End Owner: Andrea Reid */